body {
  margin: 0%;
  padding: 0%;
}
.img {
  height: 480px;
  background-image: url(/img/shutterstock_348320018@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.alignment {
  text-align: center;
  /*text-align: center;*/
  position: absolute;
  top: 16.8%;
}
.logo {
  height: 147px;
  width: 147px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 90px;
  margin-left: auto;
  margin-right: auto;
  color: red;
}
.header {
  margin-top: 22px;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.search-location {
  height: 60px;
  width: 17%;
  padding-left: 23px;
  margin-right: 15px;
}
.search {
  height: 60px;
  width: 35%;
  padding-left: 63px;
}

.quick-head {
  margin-top: 48px;
  margin-left: 60px;
  margin-bottom: 33px;
}
.quick-head b {
  font-size: 30px;
  color: #192f60;
}
.quick-head p {
  margin-top: 7px;
  color: #8c96ab;
}
.qs {
  margin-left: 100px;
  /*
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 30px 26px;*/
}
.qs-elem {
  width: 360px;
  height: 160px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
}
.qs-elem2 {
  width: 180px;
  height: 160px;
}
.qs-head {
  font-size: 18px;
  margin-top: 25px;
  margin-left: 29px;
  color: #192f60;
}
.qs-description {
  color: #8c96ab;
  margin-top: 4px;
  margin-left: 29px;
}
.temporary {
  background-color: #192f60;
  height: 50px;
  width: 50px;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .logo {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 55px;
    margin-left: auto;
    margin-right: auto;
    color: red;
  }
  .alignment {
    text-align: center;
    /*text-align: center;*/
    position: absolute;
    top: 12%;
  }

  .header {
    margin-top: 22px;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
  }

  .search-location {
    height: 60px;
    width: 364px;
    padding-left: 23px;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .search {
    height: 60px;
    width: 364px;
    padding-left: 63px;
  }

  .quick-head,
  .qs {
    padding-left: auto;
    padding-right: auto;
  }
}
/* MEDIA QUERIES 
@media screen and (max-width: 420px) {
  .logo {
    height: 90px;
    width: 90px;
    margin: 0 auto;
    font-size: 42px;
  }
  .alignment {
    text-align: center;
    /*text-align: center;
    position: absolute;
    top: 59px;
    left: 0;
  }
  .search-location {
    padding-left: 20px;
    width: 262px;
    height: 50px;
    padding-right: 120px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .search {
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    padding-left: 40px;
    width: 200px;
    padding-right: 20px;
  }
}
*/
